.input-group {
  width: 100%;
  margin-bottom: 0.75rem;

  > .label {
    margin-bottom: 0.5rem;
    font-weight: 300;
    font-size: 0.925rem;
  }

  > .input {
    width: 100%;
    border-radius: 0.5rem;
    padding: 1rem 1.25rem;
    transition: all 0.2s ease;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    box-shadow: 0 1px 5px rgb(0, 0, 0, 0.1);

    &::placeholder {
      color: rgba(255, 255, 255, 0.8);
    }

    &:focus {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
    }
  }
}
